.chat-wrapper {
  /* background: #0d0d0d; */
  /* height: 100vh; */
  color: #fff;
}

/* ---------------------- SIDEBAR ---------------------- */

.chat-sidebar {
  background: #1a1a1a;
  border-right: 1px solid #1d1d1d;
  border-radius: 15px;
  height: 100vh;
  padding: 20px 10px;
  position: relative;
}
.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.search-box {
  position: relative;
}
.search-box input {
  color: #fff;
  width: 100%;
  padding: 14px 14px 14px 35px;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
  background: #1a1a1a;
  color: #a19791;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 8px;
}
.no-chat-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  opacity: 0.6;
  background: #1a1a1a;
  border-radius: 15px;
}
.user-chat-box .count {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2ff9ff;
  border-radius: 30px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.chat-window {
  border-radius: 15px;
  background: #1a1a1a;
}
/* USER LIST */
.user-items {
  margin-top: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.user-chat-box {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border: 1px solid #1a1a1a;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.user-chat-box.active {
  border-radius: 25px;
  border: 1px solid #424242;
  background: #1a1a1a;
}

.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-info {
  flex: 1;
  margin-left: 12px;
}

.user-info h5 {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
}

.user-info p {
  color: #757575;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

.right-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.right-info small {
  display: block;
  color: #a19791;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ---------------------- CHAT WINDOW ---------------------- */

.chat-window {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.chat-header {
  align-items: center;
  padding: 15px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #ffffff1a;
}

.back-btn {
  display: none;
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.header-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.info {
  margin-left: 12px;
}

/* 3 DOT MENU */
.menu {
  margin-left: auto;
  cursor: pointer;
  font-size: 20px;
}

.options-dropdown {
  z-index: 9;
  width: 145px;
  padding: 12px;
  position: absolute;
  top: 65px;
  right: 15px;
  border-radius: 20px 0 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--Background-Color, #0d0d0d);
  display: flex;
  flex-direction: column;
}
.options-dropdown a {
  cursor: pointer;
  margin: 0;
  padding: 8px 0;
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.block-user {
  color: #e92424;
}
/* MESSAGES */
.messages-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  width: fit-content;
  margin-bottom: 14px;
  padding: 8px 12px;
  font-size: 14px;
  display: flex;
  align-items: self-start;
  gap: 20px;
}
.message.left .msg-text {
  background: rgba(61, 181, 180, 0.7);
  border: 1px solid #3c3c3c;
  border-radius: 2px 16px 16px 16px;
  padding: 8px 12px;
  position: relative;
}

.message.right {
  margin-left: auto;
}
.message.right .msg-text {
  background: #1a1a1a;
  border: 1px solid #3c3c3c;
  border-radius: 2px 16px 16px 16px;
  padding: 8px 12px;
}
.messages-area .msg-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.msg-name {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.msg-time {
  color: #717171;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ---------------------- INPUT AREA ---------------------- */
.chat-header .info small {
  color: #29b738;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chat-header .info h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 0px;
}
.message-input {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.message-input input {
  color: #fff;
  flex: 1;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #3c3c3c;
  background: #1a1a1a;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.send-btn {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  border-radius: 50px;
  border: 1.5px solid rgba(85, 85, 85, 0.7);
  background: rgba(0, 0, 0, 0.3);
}

/* --- GIFT BOX ABOVE ICON --- */

.gift-icon {
  cursor: pointer;
  font-size: 22px;
}

/* MOBILE */
@media (max-width: 767px) {
  .message .msg-user-img {
    width: 30px;
  }
  .chat-sidebar.mobile-hide {
    display: none;
  }

  .chat-window-area {
    display: none;
  }

  .chat-window-area.mobile-show {
    display: block;
    position: relative;
  }
  .main-area {
    padding: 0;
  }
  .action-icon-chat {
    gap: 10px !important;
  }
  .messages-area {
    padding: 10px 0;
  }
  .chat-sidebar {
    height: calc(100vh - 120px);
  }
  .user-items {
    height: calc(100vh - 260px);
  }
  .back-btn {
    display: inline-block;
  }
  .zodiac-view-user {
    align-items: self-start;
    gap: 30px;
    max-width: 781px;
    display: flex;
    flex-wrap: wrap;
  }
  .zodiac-info {
    flex: auto;
  }
  .zodiac-profile-info img {
    height: 195px;
  }
  .zodiac-view-user {
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 80px;
  }
  .chat-wrapper {
    height: calc(100vh - 50px);
  }
  .chat-window {
    height: calc(100vh - 110px);
  }
  .message {
    font-size: 12px;
  }
}

.icon-input-box {
  flex: 1;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.action-icon-chat {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.action-icon-chat button {
  background-color: transparent;
  outline: none;
  border: 0;
}
